@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-dark-turquoise: #0D3A48;
    --main-light-orange: #E4B383;
    --footer-dark-turquoise: #09262E;
}